* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
}

#header {
    background-image: linear-gradient(to right,#6649A7, #000000 );
    height: 600px;
}

header > div {
    margin-left: 200px;
    margin-top: 170px;
}

header > div > p {
    font-size: 25px;
    color: black;
} 

header > h1, h2 {
    margin-left: 200px;
    margin-top: 10px;
}

header > h1 {
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 3px rgb(255, 255, 255);
}

header > h2 {
    color: #afafaf;
    
}

nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

nav > a:hover {
    color: #161212;
    transition: 1s;
}

body {
    background-color: #020617;
}

#Habilidades > div > h2 {
    color: #ffffff;
    font-size: 30px;
}

#Habilidades > div > h3 {
    color: #96969f;
    margin-left: 200px;
    margin-top: 10px;
    font-size: 22px;
}

#Habilidades > div {
    margin-top: 120px;
}

#Habilidades > div > div {
    margin-top: 30px;
}

li {
    list-style: none;
    width: 230px;
    height: 130px;
    text-align: center;
    background-color: #13131f;
    margin: 8px;
    border-radius: 4px;
}

li > img {
    margin-top: 30px;
}

li > p {
    color: #ffffff;
    font-family: monospace;
    font-size: 14px;
}

li:hover {
    transition: 0.5s ;
    box-shadow: 0px 0px 11px  #6649A7;
}

li {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;
}

#Habilidades > div > div > ul {
    display: flex;
    margin-left: 200px;
    flex-wrap: wrap;
}

#Contato > h2 {
    color: #ffffff;
    font-size: 30px;
}

#Contato >  h3 {
    color: #96969f;
    margin-left: 200px;
    margin-top: 10px;
    font-size: 22px;
}

#Contato > div {
    display: flex;
    margin-left: 200px;
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 180px;
}

#Contato > div > div > a > div {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

#Contato > div > div > a > div > img {
    width: 28px;
}

#Contato > div > div {
    text-align: center;
    width: 130px;
}

#Contato > div > div > p {
    color: #ffffff;
}

#Contato > div > div > span {
    color: #595959;
    font-size: 14px;
}

#Contato > div > div:hover {
    transition: 0.5s ;
    transform: scale(1.1);
}

#Contato > div > div {
    transform: scale(1.0);
    transition: transform 500ms;
}

#Contato > div > div > div > .logos_Social{
    width: 37px;
}