* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#Habilidades, #Projeto, #Contato {
    margin-top: 100px;
}


header {
    width: 100%;
}

#header {
    background-image: linear-gradient(to bottom,#6649A7, #020617 ); 
    height: 600px;
}

header > div {
    margin-left: 200px;
    margin-top: 170px;
}

header > div > p {
    font-size: 25px;
    color: black;
} 

header > h1, h2 {
    margin-left: 200px;
    margin-top: 10px;
}

header > h1 {
    font-size: 60px;
    color: #ffffff;
    text-shadow: 3px 7px #020617;
}

header > img {
    margin-top: 15px;
    margin-left: 400px;
}

header > img {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}

header > h2 {
    color: #afafaf;
    
}

nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

nav > a:hover {
    color: #161212;
    transition: 1s;
}

body {
    background-color: #020617;
}

#Habilidades > div > h2 {
    color: #ffffff;
    font-size: 30px;
    margin-left: 140px;
}

#Habilidades > div > h3 {
    color: #96969f;
    margin-left: 140px;
    margin-top: 10px;
    font-size: 22px;
}

#Habilidades > div {
    margin-top: 120px;
}

#Habilidades > div > div {
    margin-top: 30px;
}

li {
    list-style: none;
    width: 230px;
    height: 130px;
    text-align: center;
    background-color: #13131f;
    margin: 8px;
    border-radius: 4px;
}

li > img {
    margin-top: 30px;
}

li > p {
    color: #ffffff;
    font-family: monospace;
    font-size: 14px;
}

li:hover {
    transition: 0.5s ;
    box-shadow: 0px 0px 11px  #6649A7;
}

li {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;
}

#Habilidades > div > div > ul {
    display: flex;
    margin-left: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

#Contato {
    padding: 0rem 0rem 3rem;
} 

#Contato > h2 {
    color: #ffffff;
    font-size: 30px;
    margin-left: 140px;
}

#Contato >  h3 {
    color: #96969f;
    margin-left: 140px;
    margin-top: 10px;
    font-size: 22px;
}

#Contato > div {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#Contato > div > div > a > div {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

#Contato > div > div > a > div > img {
    width: 28px;
}

#Contato > div > div {
    text-align: center;
    width: 160px;
}

#Contato > div > div > p {
    color: #ffffff;
}

#Contato > div > div > span {
    color: #595959;
    font-size: 14px;
}

#Contato > div > div:hover {
    transition: 0.5s ;
    transform: scale(1.1);
}

#Contato > div > div {
    transform: scale(1.0);
    transition: transform 500ms;
}

#Contato > div > div > div > .logos_Social{
    width: 37px;
}

#Projeto  > h2 {
    color: #ffffff;
    margin-left: 140px;
}

#Projeto > h3 {
    color: #595959;
    margin-top: 10px;
    margin-left: 140px;
}

#Projeto > div {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-left: 40px;   
    margin-top: 15px; 
    justify-content: center;
}

#Projeto > div > div{
    width: 270px;
    height: 460px;
    background-color: #13131f;
    border-radius: 5px;
}

#Projeto > div > div:hover {
    transition: 0.5s ;
    box-shadow: 0px 0px 11px  #6649A7;
}

#Projeto > div > div {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;
}

#Projeto > div > div  img {
    width: 100%;
    margin-top: -10px;
    height: 240px;
    border-radius: 5px 5px 0px 0px;
}

#Projeto > div  p {
    color: #595959;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

#Projeto > div  div {
    margin-top: 10px;
}

#Projeto > div  #nomeProjeto{
    color: #ffffff;
}